csiro-biomass
.venv

# Data files
data/
*.csv

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Python
.venv/

# IDE
.vscode/
.claude/


# Submissions
submissions/
*.zip

**/__pycache__/
.ruff_cache

# ccgan
src/main/ccgan_improved/dump_fake_data
src/main/ccgan_improved/output/saved_models
output/saved_models
