csiro-biomass
.venv

# Data files
data/
*.csv

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Python
.venv/

# IDE
.vscode/
.claude/


# Submissions
submissions/
*.zip

**/__pycache__/
.ruff_cache